/* app css stylesheet */
body {
  padding-top: 52px;
  background: url(../img/dark-blackboard.png);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lilita One', Arial, serif;
}

a {
  color: #999;
}

a:hover {
  color: #fff;
}

a.navbar-brand {
  font-family: 'Pacifico', Arial, serif;
  font-size: 2em;
  color: #fff;
}

.navbar-nav>li>a:hover{
  background: #999;
}

#main-menu {
  font-family: 'Lilita One', Arial, serif;
  font-size: 2em;
}
#main-menu {
  background: transparent;
}

#main-menu>li>a:hover, #main-menu>li.active a {
  background: none;
  color: #fff;
}

.page .container {
  background: url(../img/paper_fibers.png);
}

#projectslider {
  position: relative;
  height: 400px;
}

#projectslider .project-detail {
  padding: 1em 0;
  border-bottom: 2px dashed #999;
  position: absolute;
  top: 0;
  left: 0;
}

.project-detail.ng-hide-add, .project-detail.ng-hide-remove {
  -webkit-transition:all linear 1s;
  transition:all linear 1s;
  display:block!important;
}

.project-detail.ng-hide-add {
  opacity: 1;
}

.project-detail.ng-hide-add.ng-hide-add-active {
  -webkit-transition:all linear 1s;
  transition:all linear 1s;
  opacity: 0;
}

.project-detail.ng-hide-remove {
  opacity: 0;
}

.project-detail.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition:all linear 1s;
  transition:all linear 1s;
  opacity: 1;
}

.project-lists {
  padding: 1em 0;
}

.each-project {
  text-align: center;
}

#project-navigation {
  padding-top: 1em;
}

#footer {
  margin-top: 2em;
  color: #fff;
}

#footer-menu a {
  margin-left: 0.5em;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}