<div id="footer">
    <div class="container">
      <div class="col-sm-6" id="copyright">
        <p>&copy; Created by Xiaotian Tan using Angular JS</p>
      </div>
      <div class="col-sm-6" id="social">
        <ul class="nav navbar-nav pull-right" id="footer-menu" navMenu="active">
          <a href="https://www.facebook.com/edison.tan.3154" ><i class="fa fa-facebook-square fa-3x"></i></a>
          <a href="http://au.linkedin.com/pub/xiaotian-tan/53/a08/21/" ><i class="fa fa-linkedin-square fa-3x"></i></a>
          <a href="https://github.com/xiaotian-tan" ><i class="fa fa-github fa-3x"></i></a>
        </ul>
      </div>
    </div><!--/.nav-collapse -->
  </div>
</div>