<div id="main">
	<div class="container projects" id="main">
		<div class="row">
			<menu class="col-sm-12" id="filtergroup">
				<b>Filters for skill:</b> 
				<div class="buttongroup" onclick="">
					<label for="skill-mysql">
						<input type="checkbox"  data-ng-model="search" ng-true-value="MySQL" ng-false-value="" id="skill-mysql"/>
						<span>MySQL</span>
					</label>
					<label for="skill-php">
						<input type="checkbox"  data-ng-model="search" ng-true-value="PHP" ng-false-value="" id="skill-php"/>
						<span>PHP</span>
					</label>
					<label for="skill-htmlcss">
						<input type="checkbox"  data-ng-model="search" ng-true-value="HTML & CSS" ng-false-value="" id="skill-htmlcss" />
						<span>HTML & CSS</span>
					</label>
					<label for="skill-jquery">
						<input type="checkbox"  data-ng-model="search" ng-true-value="jQuery" ng-false-value="" id="skill-jquery"/>
						<span>jQuery</span>
					</label>
					<label for="skill-joomla">
						<input type="checkbox"  data-ng-model="search" ng-true-value="Joomla CMS" ng-false-value="" id="skill-joomla"/>
						<span>Joomla CMS</span>
					</label>
				</div>
			</menu>
		</div>
		<div class="row project-lists" masonry preserve-order>
			<div ng-repeat="project in projects | skillfilter:search | orderBy:'-id'" class="each-project col-sm-4 col-xs-6 masonry-brick">
				<a ng-href="#/projects/{{ project.slug }}" ng-click="scrollTo('projectslider', $event, $index);">
	            	<img ng-src="{{project.image}}" alt="{{project.title}}" title="{{project.title}}" class="img-responsive project-thumb fade" data-img-preload />
	            	<div class="mask">
	            		<div class="tc">
	            			<div class="info">
		            			<h3 class="title">{{ project.title }}</h3>
	            			</div>
	            		</div>
	            	</div>
	            </a>
			</div>
		</div>
	</div>
</div>
<ng-include src="'partials/footer.html'"></ng-include>