<div class="container projects">
	<div class="row project-lists">
		<div ng-repeat="project in projects" class="each-project col-sm-4">
			<a ng-href="#/projects/{{ project.slug }}" ng-click="scrollTo('projectslider', $event, $index);">
            	<img ng-src="http://tanportfolio.s3.amazonaws.com/{{project.image}}" alt="{{project.title}}" title="{{project.title}}" class="img-responsive project-thumb fade" data-img-preload />
            	<div class="mask">
            		<div class="tc">
            			<div class="info">
	            			<h3 class="title">{{ project.title }}</h3>
            			</div>
            		</div>
            	</div>
            </a>
		</div>
	</div>
	
</div>