<div class="container welcome">
	<div class="row" id="intro">
		<div class="col-md-5">
			<img src="http://www.gravatar.com/avatar/ea53f13ebdb84daca6b47cc413f490c3.png" alt="..." class="img-responsive profile-img" />
			<ul class="aboutme">
			  <li>
			  	<span class="title"><i class="fa fa-user"></i> Name</span>
				<span class="value">Xiaotian Tan</span>
			  </li>
			  <li>
			  	<span class="title"><i class="fa fa-calendar-o"></i> Age</span>
			  	<span class="value">29</span>
			  </li>
			  <li>
			  	<span class="title"><i class="fa fa-map-marker"></i> Location</span>
			  	<span class="value">Melbourne, Australia</span>
			  </li>
			  <li>
			  	<span class="title"><i class="fa fa-envelope"></i> Email</span>
			  	<span class="value"><a href="mailto:tanxiaotian96@gmail.com" >tanxiaotian96@gmail.com</a></span>
			  </li>
			  <li>
			  	<span class="title"><i class="fa fa-phone"></i> Phone</span>
				<span class="value">(+61)43 0402 619</span>
			  </li>
			  
			</dl>
		</div>
		<div class="col-md-7">
			<h3>Heollo there, I am a full stack web developer from Melbourne, AU.</h3>
			<p>I've worked in web development industry over 3 years, and have worked on a large namber of great projects, including Wordpress & Joomla projects, PHP web apps, Javascript heavy websites, Python websites and even iOS apps. When I worked at Butterfly Internet, I also lead a small team focused on a variety of projects. </p>
			<p>Feel free to check out my work or view my resume. I am currently available for hire, so if I sound fit for your next project, don’t hesitate to contact me!</p>
		</div>
	</div>
</div>